@using WebsiteBanGiay.Models;
@model List<Loai>
<link href="~/Content/TrangChuCss.css" rel="stylesheet" />
@{
    ViewBag.Title = "Danh mục Loại";
    Layout = "~/Views/LayOut/NguoiDungLayout.cshtml";
}@*Hiển thị danh mục loại*@
<div style="text-align:center; text-align: center;
    height: 220px;
    margin: auto;">
    @foreach (var item in Model)
    {
        <div id="divBody">
            <a style="        color: black;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 5px;
        padding: 20px;
        max-width: 20%;
        display: block;" class="btn btn-primary" href="@Url.Action("GiayTheoLoai", "Loai", new { @_MaLoai=item.MaLoai})">@item.TenLoai</a>
    </div>


}
